<!doctype>
<head>

        <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">

        <link rel="stylesheet" href="/vendor/rickshaw.min.css">
        <link rel="stylesheet" href="/vendor/local_styles.css">

	<script src="/vendor/d3.v3.js"></script>
	<script src="/vendor/d3.layout.min.js"></script>


	<script src="/vendor/jquery.min.js"></script>

	<script src="/vendor/rickshaw.js"></script>
        <script src="/vendor/Rickshaw.Graph.Axis.Time.js"></script>
        <script src="/vendor/Rickshaw.Graph.Axis.Y.js"></script>
        <script src="/vendor/Rickshaw.Graph.Axis.X.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
</head>
<body>

<div id="chart_container1">
  <h2 id="player1"> </h2>
  <div id="chart1"></div>

  <div id="legend_container1">
    <div id="smoother1" title="Smoothing"></div>
    <div id="legend1"></div>
  </div>
  <div id="slider1"></div>
</div>
<div id="chart_container2">
  <h2 id="player2"></h2>
  <div id="chart2"></div>

  <div id="legend_container2">
    <div id="smoother2" title="Smoothing"></div>
    <div id="legend2"></div>
  </div>
  <div id="slider2"></div>
</div>

<script>
var ticksTreatment = 'glow';
var endpoint = "/api/1.0/army_supply/{{ filename }}"

$.getJSON( endpoint, function( data ) {
  console.log(data);
  $("#player1").text(data['players'][0]['name']);
  $("#player2").text(data['players'][1]['name']);
  var series1 = data['players'][0]['army_supply'];
  var graph1 = new Rickshaw.Graph( {
    element: document.querySelector("#chart1"),
    width: 800,
    height: 400,
    renderer: 'area',
    series: series1
  } );
  var axes = new Rickshaw.Graph.Axis.X( { graph: graph1 } );
  var axes = new Rickshaw.Graph.Axis.Y( { graph: graph1 } );

  var hoverDetail1 = new Rickshaw.Graph.HoverDetail( {
    graph: graph1
  } );

  var legend1 = new Rickshaw.Graph.Legend( {
    graph: graph1,
    element: document.getElementById('legend1')

  } );

  var shelving1 = new Rickshaw.Graph.Behavior.Series.Toggle( {
    graph: graph1,
    legend: legend1
  } );

  var series2 = data['players'][1]['army_supply'];
  var graph2 = new Rickshaw.Graph( {
    element: document.querySelector("#chart2"),
    width: 800,
    height: 400,
    renderer: 'area',
    series: series2
  } );
  var axes = new Rickshaw.Graph.Axis.X( { graph: graph2 } );
  var axes = new Rickshaw.Graph.Axis.Y( { graph: graph2 } );

  var hoverDetail2 = new Rickshaw.Graph.HoverDetail( {
    graph: graph2
  } );

  var legend2 = new Rickshaw.Graph.Legend( {
    graph: graph2,
    element: document.getElementById('legend2')

  } );

  var shelving1 = new Rickshaw.Graph.Behavior.Series.Toggle( {
    graph: graph2,
    legend: legend2
  } );

  // Dont forget this part
  graph1.render();
  graph2.render();
});

</script>

</body>
